body{
    background-color:#90EE90 !important;
}
.frm{
    margin-top:5vh;
    background-color: white;
    display:border-box;
    border:0.5em solid black;
    border-style:double;
    margin-left:25em;
    margin-right:24em;
    padding-left:1em;
    padding-top:1em;
    padding-right:1em;
    padding-bottom:1em;
}
.box{
    margin-top: 0.5em;
    height:2.25em;
    width:100%;
}
.submit{
    text-align: center;
    align-items: center;
    height:3em;
    width:10em;
    margin-left:16em;
    background-color: #90EE90;
    border:none;
    color:white;
}
.txt{
    margin-left:0.25em;
    font-size: large;
}
.btn{
    width:100%;
}
.dropdown-item{
    width:100%
}