body{
    display:flex;
    /* align-items: center; */
    justify-content: center;
    background-image: url('images/bgimg.jpg');
    backdrop-filter:blur(10px);
    background-size:cover;
    /* opacity:0.2; */
}
.box{
    background-color: white;
    position:fixed;
    /* backdrop-filter:blur(10px); */
    /* pointer-events: none; */
    border:0.5em double black;
    width:30em;
    /* align-items: center; */
    /* text-align: center; */
    margin-top:20vh;
    padding:1em;
}
.btn{
    text-align: center;
}
.inp{
    height: 2.5em;
    padding-left: 0.5em;
    width:100%;
}
.btns{
    text-align: center;
}